﻿body {
	width: 700px;
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

#table {
	display: inline-block;
}

#edit {
	display: none;
	float: right;
}
#add {
	display: none;
	float: right;
}
