﻿<script src="../../Scripts/js/JavaScript.js"></script>
<p>HI</p>
<p><input type="search" id="searchText"/><input type="button" id="searchBtn" value ="Поиск"/><span id ="searchRezult"></span></p>
<div id="table"></div>
<div id="edit">
	<p>Редактирование</p>
	<table>
		<tr><td><input type="hidden" id="editId"/></td></tr>
		<tr><td><label>Название: </label></td> <td><input type="text" id="editName"/> </td></tr>
		<tr><td><label>Автор: </label></td> <td><input type="text" id="editEmail"/> </td></tr>
		<tr><td><label>Год: </label></td> <td><input type="text" id="editNumber"/> </td></tr>
		<tr><td><input type="submit" id="sendEdit" value="Отправить"/> </td></tr>
	</table>
</div>
<div id="add">
	<p>Добавление</p>
	<table>
		<tr><td><input type="hidden" id="addId"/></td></tr>
		<tr><td><label>Название: </label></td> <td><input type="text" id="addName"/> </td></tr>
		<tr><td><label>Автор: </label></td> <td><input type="text" id="addEmail"/> </td></tr>
		<tr><td><label>Год: </label></td> <td><input type="text" id="addNumber"/> </td></tr>
		<tr><td><input type="submit" id="sendAdd" value="Отправить"/> </td></tr>
	</table>
</div>
<div><input type="submit" id="addBtn" value="Добавить"/>
</div>
<div><input type="submit" onclick="getAllPersons()" value="Назад" /></div>